# Dependencies
node_modules/
.pnpm-store/

# Next.js
.next/
out/

# Production
build/
dist/

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files
.env
.env*.local

# VS Code
.vscode/
*.code-workspace

# OS
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Testing
coverage/

# Logs
logs/
*.log

# Cache
.cache/
.turbo